.cards {
  text-align: center;
  font-style: 'poppins';
  padding: 50px;
  width: 500px;
  height: 350px;
  border: 1px solid;
}

.buttons {
  padding-top: 10px;
  border-color: #D0B200;
  border-width: 2px;
  width: 200px;
  height: 50px;
  border-radius: 15px;
  color: #D0B200;
}